.CatsImages{
 background: #fff;
    border: 5px solid #fff;
    border-radius: 2px;
    margin: 30px 20px 0px;
    position: relative;
    height: 160px;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    text-align: left;
}
.CatsImages img{
    width: 100%;
    box-shadow: 2px 2px #f2f2f2;
}