.App{
  background-image: url(../src/background-app.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container{
  font-size:62.5%;
  width: 95%;
  margin: 0 auto;
}
.container h1{
  font-size: 5rem;
  text-align: center;
  color: #fff;
  margin-top: 0;
  text-shadow: 2px 2px red;
}
.container h2{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}
.App .wrapper{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}